*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #e8e8e8;
    font-family: Arial;
    position: relative;
    padding-bottom: 5em;
    min-height: 200vh;
}
/* Encabezado */
.contenedor{
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar {
    width: 100%;
    margin: 0px;
    padding: 0.5% ;
    display: flex;
    align-items: center;
    z-index: auto;
}
.buscar{
    position: absolute;
    padding: 10px;
    right: 30%;
}
.buscar input {
    width: 0px;
    height: 40px;
    padding: 0px 20px;
    font-size: 18px;
    color: black;
    outline: none;
    border: 1px solid #e8e8e8;
    border-radius: 30px;
    transition: all 0.6s ease;
}
.btn{
    position: absolute;
    top: 0;
    right: 0;
    background: #0d2033;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;

}
.buscar:hover input{
    width: 570px;
}
.buscar input:focus{
    width: 570px;
}
.logo{
    position: absolute;
    left: 4%;
    width: 130px;
    cursor: pointer;
}
.carrito {
    position: relative;
    left: 92.5%;
    cursor: pointer;
}
.menu {
    list-style: none;
    padding: 0;
    background-color: #0d2033;
    width: auto;
    margin: auto;
    text-align: center;
}
.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: inline-flex;
    transition: all 0.3s ease-out;
    
}
.menu li {
    display: inline-block;  
}
.menu li a:hover{
    background-color: tomato;
}

.menu-vertical {
    z-index: 1;
    position: absolute;  
    display: none;
    width: 150px;
    background-color: #091e33;
}
.menu li:hover .menu-vertical{
    display: block;
}
.menu-vertical li a {
    text-align: center;
    width: 150px;
}
/*Titulos */
h1{
    padding: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-items: center;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-items: center;
    padding: 25px;
}
/* imagen 1 */

.rectangulo{
    display:inline-flex;
    align-items: center;
    width: 100%;
    background-color:#0d2033 ;
    box-shadow: 10px 10px 10px gray;
}
.imagen1{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 20px;
 
    }
    .imagen1 figure{
       position:relative;
        height: 250px;
        cursor: pointer;
        width: 350px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    }
    .imagen1 figure img{
        width: 100%;
        height: 100%;
        transition: all 400ms ease-out;
        will-change: transform;
    }
    .imagen1 figure .texto1{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: gainsboro;
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
       text-align: center;
    }
    .imagen1 figure:hover > .texto1 {
        opacity: 1;
        visibility: visible;
    }
    .imagen1 figure:hover > .texto1 h3{
        margin-top: 70px;
        margin-bottom: 15px;
    }
    .imagen1 figure:hover > img{
        transform: scale(1.3);
    }
    .imagen1 figure .texto1 h3{
        color: black;
        font-weight: 400;
        margin-bottom: 120px;
        transition: all 400ms ease-out;
         margin-top: 30px;
    }
    .imagen1 figure .texto1 p{
        color: black;
        font-size: 15px;
        line-height: 1.5;
        width: 100%;
        max-width: 220px;
        margin: auto;
    } 
    /* Imagen 2 */
    .imagen2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 20px;
    }
    .imagen2 figure{
        position:relative;
        height: 250px;
        cursor: pointer;
        width: 350px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    }
    .imagen2 figure img{
        width: 100%;
        height: 100%;
        transition: all 400ms ease-out;
        will-change: transform;
    }
    .imagen2 figure .texto2{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: gainsboro;
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
       text-align: center;
    }
    .imagen2 figure:hover > .texto2 {
        opacity: 1;
        visibility: visible;
    }
    .imagen2 figure:hover > .texto2 h3{
        margin-top: 70px;
        margin-bottom: 15px;
    }
    .imagen2 figure:hover > img{
        transform: scale(1.3);
    }
    .imagen2 figure .texto2 h3{
        color: black;
        font-weight: 400;
        margin-bottom: 120px;
        transition: all 400ms ease-out;
         margin-top: 30px;
    }
    .imagen2 figure .texto2 p{
        color: black;
        font-size: 15px;
        line-height: 1.5;
        width: 100%;
        max-width: 220px;
        margin: auto;
    }
/* Imagen 3 */
.imagen3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
}
.imagen3 figure{
    position:relative;
    height: 250px;
    cursor: pointer;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}
.imagen3 figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}
.imagen3 figure .texto3{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: gainsboro;
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
   text-align: center;
}
.imagen3 figure:hover > .texto3 {
    opacity: 1;
    visibility: visible;
}
.imagen3 figure:hover > .texto3 h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.imagen3 figure:hover > img{
    transform: scale(1.3);
}
.imagen3 figure .texto3 h3{
    color: black;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
     margin-top: 30px;
}
.imagen3 figure .texto3 p{
    color: black;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}
/*Sub imagen 1 */
.segundosub{
    padding: 50px;
}
.rectangulo2{
    display:inline-flex;
    align-items: center;
    width: 100%;
    background-color:#0d2033;
    box-shadow: 10px 10px 10px gray;
    
}
.subimagen1{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 20px;
 
    }
    .subimagen1 figure{
       position:relative;
        height: 200px;
        cursor: pointer;
        width: 300px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    }
    .subimagen1 figure img{
        width: 100%;
        height: 100%;
        transition: all 400ms ease-out;
        will-change: transform;
    }
    .subimagen1 figure .subtexto1{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: gainsboro;
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
       text-align: center;
    }
    .subimagen1 figure:hover > .subtexto1 {
        opacity: 1;
        visibility: visible;
    }
    .subimagen1 figure:hover > .subtexto1 h3{
        margin-top: 70px;
        margin-bottom: 15px;
    }
    .subimagen1 figure:hover > img{
        transform: scale(1.3);
    }
    .subimagen1 figure .subtexto1 h3{
        color: black;
        font-weight: 400;
        margin-bottom: 120px;
        transition: all 400ms ease-out;
         margin-top: 30px;
    }
    .subimagen1 figure .subtexto1 p{
        color: black;
        font-size: 15px;
        line-height: 1.5;
        width: 100%;
        max-width: 220px;
        margin: auto;
    } 
    /* Sub Imagen 2 */
    .subimagen2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 20px;
    }
    .subimagen2 figure{
        position:relative;
        height: 200px;
        cursor: pointer;
        width: 300px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    }
    .subimagen2 figure img{
        width: 100%;
        height: 100%;
        transition: all 400ms ease-out;
        will-change: transform;
    }
    .subimagen2 figure .subtexto2{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: gainsboro;
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
       text-align: center;
    }
    .subimagen2 figure:hover > .subtexto2 {
        opacity: 1;
        visibility: visible;
    }
    .subimagen2 figure:hover > .subtexto2 h3{
        margin-top: 70px;
        margin-bottom: 15px;
    }
    .subimagen2 figure:hover > img{
        transform: scale(1.3);
    }
    .subimagen2 figure .subtexto2 h3{
        color: black;
        font-weight: 400;
        margin-bottom: 120px;
        transition: all 400ms ease-out;
         margin-top: 30px;
    }
    .subimagen2 figure .subtexto2 p{
        color: black;
        font-size: 15px;
        line-height: 1.5;
        width: 100%;
        max-width: 220px;
        margin: auto;
    }
/* Sub Imagen 3 */
.subimagen3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
}
.subimagen3 figure{
    position:relative;
    height: 200px;
    cursor: pointer;
    width: 300px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}
.subimagen3 figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}
.subimagen3 figure .subtexto3{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: gainsboro;
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
   text-align: center;
}
.subimagen3 figure:hover > .subtexto3 {
    opacity: 1;
    visibility: visible;
}
.subimagen3 figure:hover > .subtexto3 h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.subimagen3 figure:hover > img{
    transform: scale(1.3);
}
.subimagen3 figure .subtexto3 h3{
    color: black;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
     margin-top: 30px;
}
.subimagen3 figure .subtexto3 p{
    color: black;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

/* Footer */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.pie-pagina{
    width: 100%;
    background-color: #0a141d;
    position: absolute;
    bottom: 0;
    padding: auto;
    height: auto;
}
.pie-pagina .grupo-1{
    width: 100%;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 20px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social{
    text-align: center;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 3000ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}